*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 141, 0);
}
.cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.score{
    background: rgb(97, 140, 238);
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 700;
    padding: 1rem;
}
.score p{
    font-family: cursive
}
.card{
    list-style: none;
    font-size: 4rem;
    background-color: rgb(255, 255, 255);
    height: 6 rem;
    width: 6 rem;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(123, 121, 119, 0.587);
    cursor: pointer;
    user-select: none;
}
.card img, span{
    height: 5rem;
    width: 5rem;
    display: block;
    margin: 1px;
}

.card.shake{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%,100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.cards{
    background-color: antiquewhite;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto auto;
    padding: 1.4rem;
    border-radius: 5px;
}

.back-view{
    display: none;
}


.button{
    height: 3rem;
    width: 8rem;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 1rem;
}
.button:active{
    transform: scale(0.90);
}